input[type="number"]:hover {
  background-image: url('../../assets/img/japps/icons/spinbtn.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 35px;
  width: 25px;
  cursor: pointer;
}

.japp-box {
  padding-right: 10rem !important;
  padding-left: 10rem !important
}

.currency-container select,
.currency-container .form-control {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  border: none;
  padding: 1rem;
}

.currency-container select:focus {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.currency-container .btn:focus {
  box-shadow: none;
}

.rate {
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .150);
  padding: 1rem 2rem;
  background: #fff;
  transition: .2s all ease-in-out;
  border-radius: 10px;
  /* visibility: hidden; */
  display: none;
}

.rate span {
  font-size: 2rem;
  display: block;
}

.currency-container label {
  font-weight: bold;
  font-size: small;
  color: #0d6efd;
}

.currency-container .currency-selector {
  margin-bottom: 2rem;
}

.currency-container .currency-selector div {
  margin-right: 2rem;
}

.currency-container .currency-selector .currency:last-child {
  margin-right: 0rem;
}

.currency-container form {
  margin-bottom: 1rem;
}

.country-container {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  border-radius: 5px;
  padding: 1rem;
  display: none;
}

.country-container:first-child {
  margin-bottom: 1rem;
}

.currency-container img {
  width: 40px;
  margin-right: 1rem;
}

#country_one,
#country_two {
  text-transform: uppercase;
  color: #dc3545;
}

@media only screen and (max-width: 991px) {
  .japp-box {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important
  }
}

@media only screen and (max-width: 767px) {

  .country-container {
    padding: .2rem .5rem;
    text-align: right;
  }

  .country-container:first-child {
    margin-bottom: .5rem;
  }
}

@media only screen and (max-width: 512px) {
  .japp-box {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
  }

  .rate {
    padding: .5rem 1.5rem;
  }

  .currency-container .currency-selector div {
    margin-right: .5rem;
  }
}

@media only screen and (max-width: 425px) {
  .rate {
    padding: .5rem 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .currency-container .currency-selector div {
    margin-right: .5rem;
  }

  .rate {
    padding: .5rem .5rem;
  }
}