.options-menu .btn {
  flex-grow: 1;
}

.japp-box textarea:focus {
  box-shadow: none;
}

.japp-box .details table tbody tr td:last-child {
  text-align: end;
}

button:focus,input:focus {
  box-shadow: none !important;
}