#japp header,
#japp .japp-box {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border-radius: .5rem;
}

#japp header .japp-share {
    margin-right: 1rem;
}

#japp header .japp-share button {
    box-shadow: none;
}

#japp header .japp-share button:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

.japp-box {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

@media only screen and (max-width: 767px) {
    #japp header .japp-share {
        margin-right: 0;
        margin-top: 1rem;
    }
    .japp-box {
        padding-right: .5rem !important;
        padding-left: .5rem !important
    }
}

@media only screen and (max-width: 512px) {
    #japp-share-toast {
        margin: 3rem 0 !important;
    }
}