@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

.font-gugi {
    font-family: 'Gugi', cursive;
}

.font-scool {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #212529 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#hero {
    opacity: .80;
}

#hero a:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

#library,
#japp {
    opacity: .80;
}

#library .portfolio,
#japp .japp-container {
    padding: 3rem;
}

@media only screen and (max-width:512px) {

    #library .portfolio,
    #japp .japp-container {
        padding: .5rem;
    }
}

#library .filter,
#library .filter-mobile {
    cursor: pointer;
}

#library .filter-search,
#library .filter-search-mobile {
    border: none;
}

#library .filter-search:focus,
#library .filter-search-mobile:focus {
    outline: none;
}

#library .filter-search {
    margin-right: 1rem;
}

#library .filter-menu {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    border-radius: .5rem;
}

#library .filter li {
    margin: 0 .5rem;
}

#library .filter-menu .filter li:first-child {
    margin-left: 0rem !important;
}

#library .filter .active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

#library .filter-menu .filter li:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

#library .filter-menu-mobile .filter li:hover {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)
}

#library .filter-menu-mobile {
    display: none !important;
}

#library .filter-menu-mobile button {
    box-shadow: none;
}

#library .filter-menu-mobile button::after {
    position: absolute;
    border: none;
    right: 5%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f107';
    z-index: 10;
}

#library .filter-menu-mobile.is-open button::after {
    content: '\f106';
}

@media only screen and (max-width: 769px) {
    #library .filter-menu {
        display: none;
    }

    #library .filter-menu-mobile {
        display: grid !important;
    }
}

#library input[type="search"]::-webkit-search-decoration,
#library input[type="search"]::-webkit-search-cancel-button,
#library input[type="search"]::-webkit-search-results-button,
#library input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

#library #japps .btn:focus {
    box-shadow: none;
}

#library #japps .card-header {
    padding: .1rem 0;
}

#library #japps .card {
    opacity: 1;
    margin-bottom: 1rem;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .15) !important;
}

#library #japps .card:hover {
    transition: .3s all ease-in-out;
    transform: scale(1.01);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#library #japps .card-img {
    overflow: hidden;
}

#library .card:hover img {
    transform: scale(1.05);
    transition: .3s all ease-in-out;
}

.back-to-top {
    border-top: 0.0625rem solid #0d6efd;
    border-left: 0.0625rem solid #0d6efd;
    cursor: pointer;
    height: 2rem;
    opacity: .5;
    position: fixed;
    right: 2.5rem;
    bottom: 1.875rem;
    width: 2rem;
    transform: rotate(45deg);
    transition: opacity .3s ease-out;
    z-index: 10;
}

.back-to-top:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .back-to-top {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media only screen and (max-width: 512px) {
    .back-to-top {
        display: none !important;
    }
}