@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

/* body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
} */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #212529 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#hero {
    opacity: .80;
}

#hero a:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}

#explore,
#japp {
    opacity: .80;
}

#explore .portfolio,
#japp .japp-container {
    padding: 3rem;
}

#explore .card {
    opacity: 1;
    margin-bottom: 1rem;
}

@media only screen and (max-width:512px) {
    #explore .select {
        padding: 0;
        width: 100%;
        text-align: center;
    }
    #explore .portfolio,
    #japp .japp-container {
        padding: .5rem;
    }
}

#explore .filter {
    cursor: pointer;
}

#explore .filter-search {
    border: none;
}

#explore .filter-search:focus {
    outline: none;
}

@media only screen and (min-width: 769px) {
    #explore .filter-item:first-child {
        display: none;
    }
    #explore .filter-menu {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        border-radius: .5rem;
    }
    #explore .filter li {
        margin: 0 .5rem;
    }
    #explore .filter li:first-child {
        margin-left: 0rem !important;
    }
    #explore .filter .active {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
    }
    #explore .filter li:hover {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
    }
    #explore .filter-search {
        margin-right: 1rem;
    }
}

#explore .select .filter-dropdown {
    display: none;
}

@media only screen and (max-width: 768px) {
    #explore .filter a {
        display: none;
    }
    #explore .select {
        background-color: #F5F8F9;
        border-radius: 1.25rem;
        color: #212529;
        display: block;
        margin-bottom: 2rem;
        position: relative;
        text-align: left;
        user-select: none;
        width: 100%;
        -webkit-touch-callout: none;
        z-index: 2;
    }
    #explore .select .filter-dropdown {
        cursor: pointer;
        display: block;
        padding: 0.5rem 0.5rem;
        position: relative;
        z-index: 1;
        background-color: #0d6efd;
        color: #fff;
        border-radius: .5rem;
    }
    #explore .select .filter-dropdown:after {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: '\f107';
        z-index: 10;
    }
    #explore .select.is-open .filter-dropdown:after {
        content: '\f106';
    }
    #explore .select.is-open ul {
        display: block;
    }
    #explore .select ul {
        background-color: #fff;
        box-shadow: 0 0.625rem 3.75rem rgba(134, 151, 168, 0.25);
        border-radius: 20px;
        display: none;
        max-height: 37.5rem;
        overflow: hidden;
        overflow-y: auto;
        padding: 0.5625rem 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    #explore .select ul li {
        display: block;
        text-align: left;
        padding: 0.1875rem 1.1875rem;
        color: #212529;
        cursor: pointer;
    }
    #explore .select ul li.active {
        color: #fff;
    }
    #explore .select ul li:hover {
        background-color: #0d6efd;
    }
    #explore .select ul li:hover a {
        color: #fff;
    }
    #explore .select ul li:first-child {
        display: none;
    }
    #explore .select ul li a {
        color: #212529;
        text-decoration: none;
    }
    #explore .filter-search {
        width: 100%;
        padding: .5rem 0;
    }
}

@media only screen and (max-width: 580px) {
    #explore .select {
        margin-bottom: 1.5rem;
    }
}

#explore .japps .card-header {
    padding: .1rem 0;
}

#explore .japps-item:hover {
    transition: .3s all ease-in-out;
    transform: scale(1.01);
}

#explore .japps-item:hover .card {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

#explore .japps .card-img {
    overflow: hidden;
}

#explore .japps-item:hover img {
    transform: scale(1.05);
    transition: .3s all ease-in-out;
}

.back-to-top {
    border-top: 0.0625rem solid #0d6efd;
    border-left: 0.0625rem solid #0d6efd;
    cursor: pointer;
    height: 2rem;
    opacity: .5;
    position: fixed;
    right: 2.5rem;
    bottom: 1.875rem;
    width: 2rem;
    transform: rotate(45deg);
    transition: opacity .3s ease-out;
    z-index: 10;
}

.back-to-top:hover {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .back-to-top {
        height: 1.5rem;
        width: 1.5rem;
    }
}

@media only screen and (max-width: 512px) {
    .back-to-top {
        display: none !important;
    }
}