.game-box {
  text-align: center;
}

.japp-box .secret-number-box {
  font-size: 6rem;
  width: 12rem;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box .secret-number {
  animation: zoom-in-zoom-out 1s ease-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

.game-box .message {
  margin: 1.5rem 0;
  font-size: 2rem;
}

.game-box input {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: large;
}

.game-box input[type="number"]:hover {
  background-image: url('../../assets/img/japps/icons/spinbtn.png');
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}

.game-box input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  opacity: 1 !important;
  background: transparent !important;
  border-width: 0px;
  margin: 0;
  border-left: 1px solid #d8d8d8;
  height: 35px;
  width: 30px;
  cursor: pointer;
}

.game-box .btn {
  margin: 1rem 0;
  padding: 1rem 3rem;
  font-size: larger;
}

.japp-box .btn:focus,
.japp-box input:focus {
  box-shadow: none;
}

.game-box .play-again {
  display: none;
}

.game-box .label-score {
  font-size: 1.5rem;
}

.game-box .label-score .score {
  font-weight: bold;
}

.statistics .table tbody tr td:last-child {
  text-align: end;
}